[user]
	name = Fábio D. Batista
	email = fabio.david.batista@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	autocrlf = input
[push]
	default = matching
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
