[user]
	name = Fábio D. Batista
	email = fabio@elementarsistemas.com.br
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	autocrlf = input
	excludesfile = /Users/fabio/.gitignore_global
[push]
	default = matching
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	undo-commit = reset --soft HEAD^
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
